# Twitter API Token
TW_BEARER_TOKEN=TW_BEARER_TOKEN
# username to check api connection on startup
USERNAME_CHECKER=USERNAME_CHECKER
# Twitter api base url
TW_API_URL=TW_API_URL
# APi running port
PORT=PORT